In [ ]:
## May 12 2021
## Author: Benjamin Diethelm-Varela
## Crash course on statistics

## Content adapted chiefly from notes taken when working through the "Statistics with Python"
## specialization offered by the University of Michigan

# Variable types
The data types influence how data is summarized and visualized

Types are:
- Quantitative: numerical variables. Amiable to descriptive statistics (e.g. mean)
    - Continuous: any value within an interval (height, weight, time)
    - Discrete: countable value with a finite number of possible values (children)
- Categorical (qualitative): classifies items into groups with no numerical meaning to them
    - Ordinal: has some order or ranking associated to it (e.g. college class)
    - Nominal: no ranking (e.g. race, US States)

# Study design
There are a myriad of study designs available, from exploratory analysis of available data, to well studied data collection efforts

Study designs are performed in many fields: clinical trials, public opinion surveys, etc.

The general types of study designs are:
- Exploratory (watch for p-hacking here) vs confirmatory studies
- Comparative (contrast one quantity to another) vs non-comparative studies (predict absolute quantities, e.g. blood pressure)
- Observational (arises naturally) vs experimental (involves manipulation) studies

Typical epidemiological studies, such as effects of tobacco on lifespan, are observational. An example of experimental studies would be observing the effect of a fertilizer on crop yields.

On experiments, we randomly assign subjects to groups. On observational analyses, subjects are said to be exposed

## Statistical power
Power to assess whether a study design is likely to yield meaningful findings

## Bias
Measurements systematically off-target, or sample not representative. This is especially acute in observational studies

# Categorical and quantitative data

In [79]:
# We'll use a toy dataset for these notes
# Visualizations in seaborn
# Import pandas and numpy
%matplotlib widget
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

# Create some lists
topics = ['Computational chemistry', 'Medicinal chemistry', 'Biochemistry', 
          'Structural biology', 'Microbiology', 'Immunology', 'Pharmacology',
          'Genetics', 'Pharmacogenomics', 'Pharmaceutics', 'Pharmacometrics',
         'Cosmetics', 'Regulatory Science', 'Public Health']
researchers = [82, 45, 50, 96, 84, 75, 77, 60, 42, 87, 62, 35, 73, 61]
labs = [6,8,6,12,10,9,8,6,5,11,5,4,5,4]

# Weld them into a dictionary
department = {'topic': topics, 'number of researchers': researchers,
              'number of laboratories': labs}

# Create a dataframe
df = pd.DataFrame(department)
df

                      topic  number of researchers  number of laboratories
0   Computational chemistry                     82                       6
1       Medicinal chemistry                     45                       8
2              Biochemistry                     50                       6
3        Structural biology                     96                      12
4              Microbiology                     84                      10
5                Immunology                     75                       9
6              Pharmacology                     77                       8
7                  Genetics                     60                       6
8          Pharmacogenomics                     42                       5
9             Pharmaceutics                     87                      11
10          Pharmacometrics                     62                       5
11                Cosmetics                     35                       4
12       Regulatory Science                     73                       5
13            Public Health                     61                       4

## Categorical data
This data classifies items into groups. An example is marital status. Another is ethnicity.

__Frequency tables__ are a common way of summarizing this data. For each category, we report a count and a percentage

__Bar charts__ are a common way of visualizing this data. On the x axis we collect categories, and on the y axis we record either frequency or percentage

Pie charts are also a common way, but there are issues with it, including labeling difficulties for small categories, and sometimes misleading visuals if strict labeling is not used

In [80]:
# frequency data for number of researchers
total = np.sum(df['number of researchers'])
totalr = np.sum(df['number of laboratories'])
totals = {'topic': 'Total', 'number of researchers': total,
              'number of laboratories': totalr}
dftot = df.append(totals, ignore_index=True)
dftot

                      topic  number of researchers  number of laboratories
0   Computational chemistry                     82                       6
1       Medicinal chemistry                     45                       8
2              Biochemistry                     50                       6
3        Structural biology                     96                      12
4              Microbiology                     84                      10
5                Immunology                     75                       9
6              Pharmacology                     77                       8
7                  Genetics                     60                       6
8          Pharmacogenomics                     42                       5
9             Pharmaceutics                     87                      11
10          Pharmacometrics                     62                       5
11                Cosmetics                     35                       4
12       Regulatory Science                     73                       5
13            Public Health                     61                       4
14                    Total                    929                      99

In [81]:
percentages = dftot['number of researchers']/dftot.loc[14, 'number of researchers']*100
freqtable = pd.DataFrame({'topic' :dftot['topic'], 'number of researchers': dftot['number of researchers'],
                         'frequency': percentages})
freqtable

                      topic  number of researchers   frequency
0   Computational chemistry                     82    8.826695
1       Medicinal chemistry                     45    4.843918
2              Biochemistry                     50    5.382131
3        Structural biology                     96   10.333692
4              Microbiology                     84    9.041981
5                Immunology                     75    8.073197
6              Pharmacology                     77    8.288482
7                  Genetics                     60    6.458558
8          Pharmacogenomics                     42    4.520990
9             Pharmaceutics                     87    9.364909
10          Pharmacometrics                     62    6.673843
11                Cosmetics                     35    3.767492
12       Regulatory Science                     73    7.857912
13            Public Health                     61    6.566200
14                    Total                    929  100.000000

In [82]:
# Bar chart with the data
freqtable2 = freqtable.iloc[0:14,:];
plt.figure();
sns.barplot(x=freqtable2['topic'], y=freqtable2['number of researchers'], color='darkred');
plt.xlabel('Department')
plt.ylabel('Number of researchers')
plt.title('Pharmaceutical Sciences research roster composition')
plt.xticks(rotation=90);
plt.tight_layout();

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

## Quantitative data
### Histograms
__Histograms__ are typically the first graphical display of quantitative data, that is, data with a numerical value associated where mathematical operations make sense. Histograms are ok with either discrete or continuous variables

Histograms are excellent for a first time data exploration effort. On any histogram, the x-axis shows the interval of possible values for the variable, while the y-axis shows the frequency associated with each value subgroup (called bins)

Histograms have the following four features:
- Shape: overall appearance. Might be symmetric, skewed to a side, or conforming to a distribution
- Center: the mean or the median of the histogram
- Spread: how far the data spreads to the extreme values of the variable. The main spread desctriptor is range (max-min)
- Outliers: data points that fall far from most other data points

So, for example, a dataset, when represented on a histogram could be: bell-shaped unimodal, with a mean and median of 50, a range of 20, and no apparent outliers.

Bell-shaped distributions are easy to work with in terms of statistics. Unimodal distributions make things even easier.

Do not confuse histograms with bar charts. They look similar but are very different. Histograms always look at quantitative data. Bar charts always look at categorical data.

On a bimodal distribution, there are two values that are of high frequency.
Right- or left-skewed distributions have long "tails". Those tails are usually determined by outliers

The __median__ cuts the data into two groups of equal total frequency. It is a nice robust measure of center

Especially when there are big outliers, make sure to indicate the range where the bulk of the data is.

Remember: the __mean__ is sensitive to extreme values. The __median__ isn't

In [83]:
# The histogram below shows how many labs for each researcher number interval there are
plt.figure()
sns.histplot(data=df['number of researchers'], bins = 10)
plt.xlabel('Number of researchers in lab')
plt.ylabel('Frequency')
plt.title('Lab staffing')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Text(0.5, 1.0, 'Lab staffing')

### Numerical summaries
Histograms provide a good visual feel for the data, but sometimes it's important to dive deeper. Numerical summaries allow for that, down to the decimal.

The describe function in Python provides a numerical summary.

It is most common to see a five-number summary: 

- minimum, 
- 1st quartile (Q1; 25% tile)
- median (Q2; 50% tile)
- 3rd quartile (Q3; 75% tile)
- maximum

The 1st quartile's value means that 25% of the data falls below that value. Similar concepts for the remaining quartiles.

#### IQR

An important statistic is the Inerquartile Range (IQR). It is defined as:
    
    IQR = Q3 - Q1

IQR is another measure of spread. It gives you an idea of where most of the data is falling. The value represents the spread of the middle 50% of the data.

Data that are skewed to either side will show a mean that differs from the median significantly. It will also have a large stdev

Median and IQR are robust measures, however, as they are insensitive to outliers

#### Standard deviation

Another important measure of spread is the standard deviation. In a nutshell, it describes how much on average the data spreads out of the mean
It can be interpreted as: on average, a given value will lie within 1 SD above or below the mean

### Getting descriptive statistics with pandas and numpy
Pandas and NumPy have methods to get common statistical parameters: mean, 25th percentile (1st quartile), median (50th percentile, 2nd quartile), and 75th percentile (3rd quartile)
Let's use the lab dataset for that

In [84]:
res = df['number of researchers']

# Pandas methods
print('Mean:')
print(res.mean())
print('25th percentile:')
print(res.quantile(0.25))
print('Median:')
print(res.median()) # Remember that the median is the 50th percentile, or 2nd quartile
print('75th percentile:')
print(res.quantile(0.75))

print('\n')

# Numpy methods
print('Mean:')
print(np.mean(res))
print('25th percentile:')
print(np.percentile(res, 25))
print('Median:')
print(np.percentile(res, 50))
print('75th percentile:')
print(np.percentile(res, 75))

Mean:
66.35714285714286
25th percentile:
52.5
Median:
67.5
75th percentile:
80.75


Mean:
66.35714285714286
25th percentile:
52.5
Median:
67.5
75th percentile:
80.75

In [85]:
# The describe method provides the same functionality but in an easier fashion
# Numerical summary for number of researchers
df['number of researchers'].describe()

count    14.000000
mean     66.357143
std      18.566335
min      35.000000
25%      52.500000
50%      67.500000
75%      80.750000
max      96.000000
Name: number of researchers, dtype: float64

In [86]:
# Calculate IQR for number of researchers
iqr = 80.750000 - 52.500000
iqr

28.25

### Standard score
Mean and standard deviation are commonly reported variables for distributions. They are informative and allow getting a good idea of how the data behaves is the data is uniformly distributed

On a typical bell-shaped curve, we compute the mean, as well as one, two and three values up and down the stdev

So, for a curve with a mean of 0 and stdev of 1, we would mark 0, as well as 1, 2, and 3 to the right, and -1, -2, and -3 to the left.
On a normal distribution, 68% of values fall within 1 stdev. 95% of values fall within 2 stedvs, and 99.7% of values fall within 3 stdevs. Those values are known as the 68-95-99.7 rule, or the "empirical rule"

The standard score (Z score) tells us how unusual a value is. It's defined as:

    Standard score = (value-mean)/stdev
    
The closer to zero Z is, either on the negative or positive side, the less unusual the value is (again, assuming a normal dist.).
Negative Z values are below the mean. Positive Z values are above the mean.

### Box plots
Another useful visual for quantitative data

Boxplots visualize summarize the five values of the numerical summary: min, Q1, median, Q3, max. It also depicts the IQR.

In a boxplot, the upper whisker is the max. The upper edge of the box is the Q3, the middle line is the median (Q2), the lower edge of the box is the Q1, and the lower whisker is the min. The length of the box is the IQR.

Thus, boxplots immediately convey the spread of both all the data, and of the 50% middle data.

In [87]:
plt.figure();
sns.boxplot(y=df['number of researchers']);
plt.ylabel('Number of researchers in lab')
plt.xlabel('Pharmaceutical Sciences Division')
plt.title('Pharmaceutical Sciences lab staffing')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Text(0.5, 1.0, 'Pharmaceutical Sciences lab staffing')

On skewed distributions, boxplots typically identify outliers specifically as dots above or below the whiskers.

Note: boxplots can hide gaps and clusters. Consider the histogram above; the missing bins are not captured in the boxplot

Boxplots are very useful for comparing sets of observations.

# Multivariate categorical data
When we gather data on more than two categorical variables, we are working with multivariate categorical data.

An example would be conducting a survey and asking about gender, race, marital status, and educational level

## Looking at associations with multivariate categorical data
When dealing with multivariate categorical data in tabular format, it can be difficult to get much insights. That's where association methods come in.

A good option is counts.

In [56]:
# We'll use a toy dataset for these notes
%matplotlib widget
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

# Create some lists
gender = ['male', 'female', 'male', 'male', 
          'female', 'male', 'female', 'female', 
          'male', 'female', 'female', 'male', 
          'female', 'male']

education = ['less than high school', 'college or above', 'high school','some college', 
             'college or above', 'high school', 'less than high school', 'high school',
             'high school', 'less than high school', 'less than high school', 'college or above',
            'high school', 'high school']

weight = ['normal', 'underweight', 'overweight', 'normal',
         'obese', 'obese', 'underweight', 'normal',
         'obese', 'overweight', 'overweight', 'normal',
          'normal', 'obese']

# Weld them into a dictionary
features = {'gender': gender, 'highest_education_attained': education,
              'weight': weight}

# Create a dataframe
df = pd.DataFrame(features)
df

    gender highest_education_attained       weight
0     male      less than high school       normal
1   female           college or above  underweight
2     male                high school   overweight
3     male               some college       normal
4   female           college or above        obese
5     male                high school        obese
6   female      less than high school  underweight
7   female                high school       normal
8     male                high school        obese
9   female      less than high school   overweight
10  female      less than high school   overweight
11    male           college or above       normal
12  female                high school       normal
13    male                high school        obese

In [58]:
a = df['highest_education_attained'].value_counts()
a = pd.DataFrame(a)
a = a.reset_index()
a

                   index  highest_education_attained
0            high school                           6
1  less than high school                           4
2       college or above                           3
3           some college                           1

A two-way table, or __contingency table__, summarizes by two sets of categorical variables, for example by gender and by education

In [60]:
contingency =pd.crosstab(df.gender, df.highest_education_attained)
contingency

highest_education_attained,college or above,high school,less than high school,some college
gender,,,,
female,2,2,3,0
male,1,4,1,1

In [63]:
# We can add totals with the built-in function sum
contingency['total'] = contingency.sum(axis=1)
contingency.loc['total']=contingency.sum()
contingency

highest_education_attained,college or above,high school,less than high school,some college,total
gender,,,,,
female,2,2,3,0,14
male,1,4,1,1,14
total,3,6,4,1,28

In [65]:
# Show the values as proportions, using the row as totals (axis 1, gender)
contingency =pd.crosstab(df.gender, df.highest_education_attained)
contingency.apply(lambda x: x/x.sum(), axis=1)

highest_education_attained,college or above,high school,less than high school,some college
gender,,,,
female,0.285714,0.285714,0.428571,0.000000
male,0.142857,0.571429,0.142857,0.142857

In [66]:
# Show the values as proportions, using the row as totals (axis 1, gender)
contingency =pd.crosstab(df.gender, df.highest_education_attained)
contingency.apply(lambda x: x/x.sum(), axis=0)

highest_education_attained,college or above,high school,less than high school,some college
gender,,,,
female,0.666667,0.333333,0.75,0.0
male,0.333333,0.666667,0.25,1.0

In [75]:
# Similar outcome using the groupby method
cont2 = df.groupby(['gender', 'weight', 'highest_education_attained']).size().unstack().fillna(0)
cont2

highest_education_attained  college or above  high school  \
gender weight
female normal                            0.0          2.0
       obese                             1.0          0.0
       overweight                        0.0          0.0
       underweight                       1.0          0.0
male   normal                            1.0          0.0
       obese                             0.0          3.0
       overweight                        0.0          1.0

highest_education_attained  less than high school  some college
gender weight
female normal                                 0.0           0.0
       obese                                  0.0           0.0
       overweight                             2.0           0.0
       underweight                            1.0           0.0
male   normal                                 1.0           1.0
       obese                                  0.0           0.0
       overweight                             0.0           0.0

In [76]:
# A bar chart also conveys multivariate data quite well
plt.figure();
sns.barplot(x=a['index'], y=a['highest_education_attained']);
plt.xlabel('Highest educational level attained');
plt.ylabel('Count');
plt.title('Educational level');
plt.tight_layout();

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Other useful ways to display multivariate categorical information are:

- Side by side bar graphs
- Stacked bar charts
- Mosaic plots

# Multivariate quantitative data
When we gather data on more than two quantitative variables, we are working with multivariate quantitative data.

An example would be conducting a survey and asking about age, weight, and children

In [1]:
# We'll use a toy dataset for these notes
%matplotlib widget
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

# Create some lists
age = [20, 35, 21, 22, 40, 60, 18, 82, 54, 45, 60, 33, 29, 21]

weight = [75, 82, 63, 55, 80, 90, 52, 64, 70, 86, 65, 77, 101, 75]

children = [0, 1, 0, 1, 2, 3, 0, 5, 4, 3, 2, 5, 2, 0]

# Weld them into a dictionary
features = {'age': age, 'weight': weight,
              'children': children}

# Create a dataframe
df = pd.DataFrame(features)
df

    age  weight  children
0    20      75         0
1    35      82         1
2    21      63         0
3    22      55         1
4    40      80         2
5    60      90         3
6    18      52         0
7    82      64         5
8    54      70         4
9    45      86         3
10   60      65         2
11   33      77         5
12   29     101         2
13   21      75         0

No pattern can be seen just from that data a good way to start is a histogram for univariates

In [2]:
plt.figure();
sns.histplot(data=df['weight'], bins=5);

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

However, for multivariates, histograms don't capture any possible relationships.

A scatterplot is a classical way of exploring relationships

Each point on a scatterplot represents a single observation, and we compare two features of said observation.

In [3]:
plt.figure();
sns.scatterplot(x=df['age'], y=df['children']);

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

If an association is seen, it can be of one of several types

- Linear association
- Quadratic association
- No association

We're also interested in the direction of the association (given by the slope). We can have positive or negative associations.

Finally, we care about the strength of the association. It can be:

- Weak
- Moderate
- Strong (minimal scatter, large R value)

The pearson correlation (R) indicates the direction of the association (positive or negative sign) and the strength of the association (closer to -1 or 1 indicates a stronger association. 0 indicates no association)

REMEMBER: correlation does not imply causation! Stop assuming it does!

When analysing multivariate data, just as in univariates, remember to look out for outliers, and decide what to do with them in an informed and transparent fashion.

In [ ]:
# It is very common to display a histogram along each axis of the scatterplot

## Confounding variables
A __confounding variable__ is an outside influence that alters the relationship between the independent and the dependent variable, either by, hidhing, obscuring, or enhancing the relationship. If confounded variables are not controlled for, they can distort relationships between quantitative variables.

# Tips for working with datasets on Python pandas
Some simple tricks can make analysis much easier. We'll use the NHANES dataset

Ways of indexing a dataframe:

- [] column indexing with labels
- .loc: label indexing on rows and columns
- .iloc: integer-based indexing on rows and columns

loc and iloc work with boolean arrays

In [90]:
%matplotlib widget
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [91]:
# Use the pandas set_option method to force showing a larger part of the dataset. By default, when there's too much data part of it is truncated
pd.set_option('display.max_columns', 100)

In [92]:
df = pd.read_csv('nhanes_2015_2016.csv')
df.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,1.0,2,134671.37,1,125,4.39,128.0,70.0,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,3.0,1,24328.56,1,125,1.32,146.0,88.0,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,1.0,2,12400.01,1,131,1.51,138.0,46.0,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,6.0,1,102718.00,1,131,5.00,132.0,72.0,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,3.0,5,17627.67,2,126,1.23,100.0,70.0,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

In [93]:
# Create a subset dataframe with only a few columns with the help of the columns method
df.columns

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [94]:
keep = ['BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC', 'BMXWAIST']
dfmod = df[keep]
dfmod

      BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0      94.8  184.5    27.8    43.3     43.6     35.9     101.1
1      90.4  171.4    30.8    38.0     40.0     33.2     107.9
2      83.4  170.1    28.8    35.6     37.0     31.0     116.5
3     109.8  160.9    42.4    38.5     37.7     38.3     110.1
4      55.2  164.9    20.3    37.4     36.0     27.2      80.4
...     ...    ...     ...     ...      ...      ...       ...
5730   59.1  165.8    21.5    38.2     37.0     29.5      95.0
5731  112.1  182.2    33.8    43.4     41.8     42.3     110.2
5732   71.7  152.2    31.0    31.3     37.5     28.8       NaN
5733   78.2  173.3    26.0    40.3     37.5     30.6      98.9
5734   58.3  165.0    21.4    38.2     33.5     26.2      72.5

[5735 rows x 7 columns]

In [95]:
# There's a more Pythonic way to do it. Let's keep only columns with BM on the name through a list comprehension
df[(column for column in df.columns if 'BM' in column)]

      BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0      94.8  184.5    27.8    43.3     43.6     35.9     101.1
1      90.4  171.4    30.8    38.0     40.0     33.2     107.9
2      83.4  170.1    28.8    35.6     37.0     31.0     116.5
3     109.8  160.9    42.4    38.5     37.7     38.3     110.1
4      55.2  164.9    20.3    37.4     36.0     27.2      80.4
...     ...    ...     ...     ...      ...      ...       ...
5730   59.1  165.8    21.5    38.2     37.0     29.5      95.0
5731  112.1  182.2    33.8    43.4     41.8     42.3     110.2
5732   71.7  152.2    31.0    31.3     37.5     28.8       NaN
5733   78.2  173.3    26.0    40.3     37.5     30.6      98.9
5734   58.3  165.0    21.4    38.2     33.5     26.2      72.5

[5735 rows x 7 columns]

In [14]:
# Loc and iloc also provide that functionality
df.loc[:,(column for column in df.columns if 'BM' in column)]

      BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0      94.8  184.5    27.8    43.3     43.6     35.9     101.1
1      90.4  171.4    30.8    38.0     40.0     33.2     107.9
2      83.4  170.1    28.8    35.6     37.0     31.0     116.5
3     109.8  160.9    42.4    38.5     37.7     38.3     110.1
4      55.2  164.9    20.3    37.4     36.0     27.2      80.4
...     ...    ...     ...     ...      ...      ...       ...
5730   59.1  165.8    21.5    38.2     37.0     29.5      95.0
5731  112.1  182.2    33.8    43.4     41.8     42.3     110.2
5732   71.7  152.2    31.0    31.3     37.5     28.8       NaN
5733   78.2  173.3    26.0    40.3     37.5     30.6      98.9
5734   58.3  165.0    21.4    38.2     33.5     26.2      72.5

[5735 rows x 7 columns]

In [27]:
# Return BMXWT values that are larger than the median and BMXLEG values lower than 32
bmxwt_median = df['BMXWT'].median()
condition1 = df['BMXWT'] > bmxwt_median
condition2 = df['BMXLEG'] < 32
df[condition1 & condition2]

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
15,83757,1.0,NaN,1.0,2,2,57,2,1.0,1.0,4.0,5,11709.11,1,120,0.77,134.0,68.0,146.0,62.0,80.5,150.8,35.4,31.6,32.7,33.7,113.5,2.0
52,83832,2.0,1.0,4.0,2,2,50,1,2.0,1.0,4.0,5,11709.11,1,121,1.41,104.0,76.0,NaN,NaN,105.9,157.7,42.6,29.2,35.0,40.7,129.1,NaN
105,83920,2.0,1.0,NaN,2,2,68,1,1.0,1.0,1.0,7,9719.31,1,121,0.35,118.0,70.0,122.0,70.0,85.7,156.0,35.2,30.1,36.0,38.6,111.7,2.0
244,84152,NaN,NaN,NaN,2,2,46,2,2.0,1.0,1.0,3,15918.94,2,133,0.90,168.0,88.0,156.0,94.0,81.9,144.2,39.4,31.3,30.6,37.2,105.0,NaN
380,84396,1.0,NaN,2.0,1,2,38,1,1.0,3.0,1.0,4,22901.51,1,120,1.65,116.0,64.0,108.0,62.0,142.2,154.7,59.4,29.0,32.5,41.8,160.2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,93536,NaN,NaN,NaN,2,2,63,5,1.0,1.0,5.0,2,15910.87,1,119,2.95,124.0,76.0,120.0,76.0,87.2,152.5,37.5,30.5,34.5,36.9,112.0,2.0
5658,93568,1.0,NaN,1.0,1,2,46,3,1.0,2.0,3.0,1,27315.85,2,121,0.76,130.0,86.0,128.0,84.0,85.5,152.4,36.8,26.0,33.5,34.7,116.5,2.0
5686,93614,1.0,NaN,NaN,2,2,60,3,1.0,3.0,6.0,3,45113.91,2,127,1.49,132.0,76.0,136.0,76.0,123.8,149.9,55.1,31.0,34.5,40.5,148.4,2.0
5710,93656,2.0,2.0,NaN,2,2,75,1,1.0,3.0,2.0,1,11085.15,1,127,3.40,NaN,NaN,134.0,44.0,92.7,156.4,37.9,31.5,35.5,33.6,122.0,2.0
5726,93685,1.0,NaN,2.0,1,1,53,1,2.0,2.0,1.0,5,22441.86,1,126,0.49,132.0,54.0,128.0,56.0,78.7,156.9,32.0,31.5,38.0,33.7,107.5,2.0

In [28]:
# When grabbing any slice out of a dataframe, use the values method to get only the values
df['BMXWT'].values

array([94.8, 90.4, 83.4, ..., 71.7, 78.2, 58.3])

In [29]:
# Compare to:
df['BMXWT']

0        94.8
1        90.4
2        83.4
3       109.8
4        55.2
        ...
5730     59.1
5731    112.1
5732     71.7
5733     78.2
5734     58.3
Name: BMXWT, Length: 5735, dtype: float64

### Create bands within a variable

In [105]:
df = pd.read_csv('nhanes_2015_2016.csv')
df['agegrp'] = pd.cut(df.RIDAGEYR, [18,30,40,50,60,70,80])
df.groupby(['agegrp']).count()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
agegrp,,,,,,,,,,,,,,,,,,,,,,,,,,,,
"(18, 30]",1153,1025,300,760,1153,1153,1153,1153,1153,1025,1025,1153,1153,1153,1153,1048,1087,1087,1105,1105,1142,1141,1141,1101,1107,1107,1101,852
"(30, 40]",932,815,224,603,932,932,932,932,932,932,932,932,932,932,932,846,866,866,880,880,921,922,921,873,880,881,875,672
"(40, 50]",903,802,259,574,903,903,903,903,903,903,903,903,903,903,903,832,850,850,880,880,897,897,896,848,856,856,851,714
"(50, 60]",924,833,248,550,924,924,924,924,923,924,924,924,924,924,924,831,877,877,898,898,918,917,917,885,899,899,890,784
"(60, 70]",878,833,301,470,878,878,878,878,878,878,878,878,878,878,878,781,817,817,852,852,864,866,863,821,839,838,829,807
"(70, 80]",812,776,315,368,812,812,812,812,812,812,812,812,812,812,812,681,777,777,789,789,793,799,793,689,718,718,694,792

## Unit testing
Unit testing is the procedure of testing whether the implemented code is doing what it's supposed to do.

A very good practice is creating little test dataframes and implement the same treatments as in your larger datasets, so you can quickly spots whether everything's working.

In [52]:
testdf = pd.DataFrame({'col1': np.repeat([3,1],5), 'col2': range(3,13)}, index=range(1,11))
testdf

    col1  col2
1      3     3
2      3     4
3      3     5
4      3     6
5      3     7
6      1     8
7      1     9
8      1    10
9      1    11
10     1    12

In [53]:
# On the df above, the median of col1 is 2. Let's see whether we get that ok
testdf['col1'].median()

2.0

# Plotting multivariate distributions in Python
The NumPy package comes with multiple distributions. Let's use multivariate normal to create a visualization

In [47]:
%matplotlib widget
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set() # Different plotting theme!

r = 0.8 # This is pearson's coefficient. Feel free to change it
mean = [15,5]
cov = [[1,r], [r,1]]

x,y = x,y = np.random.multivariate_normal(mean, cov, 400).T

# Histograms
plt.figure(figsize=(10,5));

plt.subplot(1,2,1);
sns.histplot(data=x, bins=15);
plt.title('x');

plt.subplot(1,2,2);
sns.histplot(data=y, bins=15);
plt.title('y');

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [49]:
# Plot the relationship between both distributions
plt.figure(figsize=(10,10));
plt.tight_layout();

# Both distributions
plt.subplot(2,2,2);
sns.scatterplot(x=x, y=y);
plt.title('joint distribution of x and y');

# Marginal distribution of x
plt.subplot(2,2,4);
plt.hist(x=x, bins=15);
plt.title('marginal distribution of x');

# Marginal distribution of y
plt.subplot(2,2,1);
plt.hist(x=y, orientation = 'horizontal', bins=15);
plt.title('marginal distribution of y');

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [ ]:
# The plot above captures both the relationship between x and y, as well as the distributions of each of x and y